.landing {
	height: 100vh;
	padding: 25px;
	position: relative;

	// @media screen and (max-height: 800px) {
	// 	height: 600px;
	// }

	@media screen and (max-width: 767px) {
		height: auto;
	}

	@media screen and (max-height: 550px) {
		height: auto;
	}

	.landing_about {
		@media screen and (max-width: 767px) {
			display: flex;
			justify-content: space-between;
		}

		h1 {
			font-family: 'Druk', sans-serif, Arial;
			font-size: 90px;
			margin: 0;
			padding: 0;
			line-height: 1.3;
			text-transform: uppercase;

			@media screen and (min-width: 2000px) {
				font-size: 4vw;
			}

			@media screen and (max-width: 1400px) {
				font-size: 60px;
			}

			@media screen and (max-width: 991px) {
				font-size: 50px;
			}

			@media screen and (max-width: 767px) {
				font-size: 35px;
			}
		}

		ul {
			font-family: 'Akkurat-Mono';
			line-height: 1.5;

			li {
				font-size: 13px;

				@media screen and (min-width: 2000px) {
					font-size: 1vw;
				}
			}
		}

		p {
			font-size: 13px;
			font-family: 'Akkurat-Mono';
			line-height: 1.3;
			padding: 15px 0;

			@media screen and (min-width: 2000px) {
				font-size: 1vw;
				padding: 1vw 0;
			}

			a {
				color: $vermelho;
				text-decoration: underline;
			}			
		}
	}

	.landing_img-central {
		position: relative;
		width: 300px;
		display: block;
		margin: 20px auto;
		z-index: 1;

		> div {
			margin-left: 15px;
		}

		@media screen and (max-width: 450px) {
			width: 280px;
		}

		@media screen and (min-width: 768px) {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: calc(100% - 30px);
			display: flex;
			justify-content: center;
			z-index: -1;
		}

		img {
			max-width: 600px;

			@media screen and (min-width: 2000px) {
				max-width: 30vw;
			}

			@media screen and (max-width: 1400px) {
				max-width: 350px;
			}

			@media screen and (max-width: 767px) {
				max-width: 300px;
			}

			@media screen and (max-width: 450px) {
				max-width: 280px;
			}
		}
	}

	.landing_image-logo {
		position: absolute;
		left: -35px;
		top: 40%;
		transform: translateY(-40%);

		@media screen and (min-width: 768px) {
			position: absolute;
			right: 0;
			top: 0;
			left: inherit;
    		transform: none;
		}

		img {
			width: 160px;
			height: auto;
			
			@media screen and (min-width: 2000px) {
				width: 260px;
				height: auto;
			}

			@media screen and (max-width: 767px) {
				width: 110px;
			}
		}
	}
}

.footer {
	padding: 25px;

	@media screen and (max-width: 767px) {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
}