.landing {
	height: 100vh;
	padding: 38px;
	position: relative;

	// @media screen and (max-height: 800px) {
	// 	height: 600px;
	// }

	@media screen and (max-width: 767px) {
		height: auto;
		padding: 30px;
	}

	@media screen and (max-height: 550px) {
		height: auto;
	}

	.landing_about {
		@media screen and (max-width: 767px) {
			display: flex;
			justify-content: space-between;
		}

		h1 {
			font-family: 'Druk', sans-serif, Arial;
			font-size: 90px;
			margin: 0;
			padding: 0;
			line-height: 80px;
			text-transform: uppercase;

			@media screen and (min-width: 2000px) {
				font-size: 4vw;
				line-height: 3vw;
			}

			@media screen and (max-width: 1400px) {
				font-size: 60px;
				line-height: 50px;
			}

			@media screen and (max-width: 991px) {
				font-size: 50px;
				line-height: 50px;
			}

			@media screen and (max-width: 767px) {
				font-size: 35px;
				line-height: 35px;
			}
		}

		.landing_what {
			@media screen and (min-width: 768px) {
				margin-top: 20px;
			}
		}

		ul {
			font-family: 'Akkurat-Mono';

			li {
				font-size: 13px;
				line-height: 16px;

				@media screen and (min-width: 2000px) {
					font-size: 1vw;
					line-height: 1.1vw;
				}
			}
		}

		p {
			font-size: 13px;
			font-family: 'Akkurat-Mono';
			line-height: 16px;
			padding: 15px 0;

			@media screen and (min-width: 2000px) {
				font-size: 1vw;
				padding: 1vw 0;
			}

			a {
				color: $vermelho;
				text-decoration: underline;
			}			
		}
	}

	.landing_img-central {
		position: relative;
		width: 300px;
		display: block;
		margin: 20px auto;
		margin-top: 65px;
		z-index: 1;

		> div {
			margin-left: 15px;

			@media screen and (max-width: 1400px) {
				display: flex;
				align-items: center;
				justify-content: center;

				img {
					margin: 0 auto;
				}
			}

			@media screen and (max-width: 450px) {
				margin-left: 35px;
			}
		}

		@media screen and (max-width: 767px) {
			width: 350px;
		}

		@media screen and (max-width: 450px) {
			width: 100%;
		}

		@media screen and (min-width: 768px) {
			position: absolute;
			top: 0;
			width: calc(100% - 76px);
			display: flex;
			margin: 0;
			justify-content: center;
			z-index: -1;
			height: 100%;
		}

		img {
			max-width: 600px;
			margin-top: 95px;

			@media screen and (min-width: 2000px) {
				max-width: 30vw;
			}

			@media screen and (max-width: 1400px) {
				max-width: 350px;
				margin-top: 0;
			}

			@media screen and (max-width: 767px) {
				max-width: 290px;
			}

			@media screen and (max-width: 450px) {
				max-width: 270px;
			}
		}
	}

	.landing_image-logo {
		position: absolute;
		left: 0;
		bottom: 30px;
		// top: 40%;
		// transform: translateY(-40%);

		@media screen and (min-width: 768px) {
			position: absolute;
			right: 25px;
			top: 25px;
			left: inherit;
    		transform: none;
		}

		img {
			width: 160px;
			height: auto;
			
			@media screen and (min-width: 2000px) {
				width: 260px;
				height: auto;
			}

			@media screen and (max-width: 767px) {
				width: 110px;
			}
		}
	}
}

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;

	@media screen and (max-width: 767px) {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
	}

	.footer-logo {
		padding: 38px;

		@media screen and (max-width: 767px) {
			padding: 30px;
		}
	}
	
	.footer-secretaria {
		background-color: $branco; 
		text-align: center; 
		padding: 20px 0;

		@media screen and (max-width: 767px) {
			padding: 20px;
		}

		img {
			max-width: 72%;
			
			@media screen and (max-width: 767px) {
				max-width: 100%;
			}
		}
	}
}